<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">


<body>
<div>
		<a style="color: blue" th:href="@{/logout}">logout</a>
</div>

	<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>
	<h1> Modifier la note de Frais</h1>
	
	<div class=" col-md-4 col-md-offset-4" >
		<form action="#" th:action="@{/update}" th:object="${noteFrais}" method="post">


			<div class="form-group">
				<label for="etat">etat </label>
				<input type="checkbox" id="etat" name="etat" th:field="*{etat}"/>
				<input type="hidden" name="etat" value="false"/>
			</div>
			<div class="form-group">
				<label for="motif">motif </label>
				<input type="text" class="form-control" id="motif" placeholder="Enter le motif" name="motif" th:field="*{motif}"/>
				<span class="error"></span>
			</div>
			<div class="form-group">
				<span class="error"></span>
			</div>
			<input type="hidden" th:field="*{id}" />
			<input type="hidden" th:field="*{chemin}" />
			<input type="hidden" th:field="*{dateupload}" />
			<input type="hidden" id="name" th:field="*{name}" />
			<div class="form-group">
				<label for="username">UserName :  </label>
				<input type="text" id="username" th:field="*{username}" />
			</div>


			<div class="form-control">
				<input type="reset" class="reset" value="Reset"/>
				<input type="submit" class="register" value="save changes" />
				<div class="clear"></div>
			</div>
		</form>
	</div>
	<a th:href="@{/editDocument}">consulter mes documents</a>
	

</body>
</html>
